

.background-color-base-purple-light {
  background-color: $color-base-purple-light;
}
.foreground-color-base-purple-light {
  color: $color-base-purple-light;
}



.background-color-base-purple-medium {
  background-color: $color-base-purple-medium;
}
.foreground-color-base-purple-medium {
  color: $color-base-purple-medium;
}


.background-color-base-purple-dark {
  background-color: $color-base-purple-dark;
}
.foreground-color-base-purple-dark {
  color: $color-base-purple-dark;
}



.background-color-base-blue-light {
  background-color: $color-base-blue-light;
}
.foreground-color-base-blue-light {
  color: $color-base-blue-light;
}



.background-color-base-blue-medium {
  background-color: $color-base-blue-medium;
}
.foreground-color-base-blue-medium {
  color: $color-base-blue-medium;
}



.background-color-base-blue-dark {
  background-color: $color-base-blue-dark;
}
.foreground-color-base-blue-dark {
  color: $color-base-blue-dark;
}



.background-color-base-green-light {
  background-color: $color-base-green-light;
}
.foreground-color-base-green-light {
  color: $color-base-green-light;
}


.background-color-base-green-medium {
  background-color: $color-base-green-medium;
}
.foreground-color-base-green-medium {
  color: $color-base-green-medium;
}


.background-color-base-green-dark {
  background-color: $color-base-green-dark;
}
.foreground-color-base-green-dark {
  color: $color-base-green-dark;
}


.background-color-base-red-light {
  background-color: $color-base-red-light;
}
.foreground-color-base-red-light {
  color: $color-base-red-light;
}

.background-color-base-red-medium {
  background-color: $color-base-red-medium;
}
.foreground-color-base-red-medium {
  color: $color-base-red-medium;
}


.background-color-base-red-dark {
  background-color: $color-base-red-dark;
}
.foreground-color-base-red-dark {
  color: $color-base-red-dark;
}


.background-color-base-gray-light {
  background-color: $color-base-gray-light;
}
.foreground-color-base-gray-light {
  color: $color-base-gray-light;
}



.background-color-base-gray-medium {
  background-color: $color-base-gray-medium;
}
.foreground-color-base-gray-medium {
  color: $color-base-gray-medium;
}

.background-color-base-gray-dark {
  background-color: $color-base-gray-dark;
}
.foreground-color-base-gray-dark {
  color: $color-base-gray-dark;
}

.background-color-base-black {
  background-color: $color-base-black;
}
.foreground-color-base-black {
  color: $color-base-black;
}