
$color-base-purple-light: #F22E8A;


$color-base-purple-medium: #A62D7B;


$color-base-purple-dark: #73265E;


$color-base-blue-light: #A0D9D9;


$color-base-blue-medium: #49868C;


$color-base-blue-dark: #252D59;


$color-base-green-light: #d8d890;


$color-base-green-medium: #BABF15;


$color-base-green-dark: #467302;


$color-base-red-light: #f0c078;


$color-base-red-medium: #D97904;


$color-base-red-dark: #BF0404;


$color-base-gray-light: #d8d8d8;


$color-base-gray-medium: #A6A6A6;


$color-base-gray-dark: #262621;


$color-base-black: #000000;


$color-primary: #d8d8d8;


$color-secondary: #262621;


$color-action-primary: #d8d8d8;


$color-action-secondary: #262621;


$color-action-tertiary: #A6A6A6;


$color-font-base: #000000;


$color-font-primary: #d8d8d8;


$color-font-secondary: #262621;


$color-font-tertiary: #d8d8d8;


$button-border-radius: 4px;


$button-text-size: 1;


$font-platform-system: Tahoma, Arial, 'Helvetica Neue', sans;


$font-family-headers: Montserrat;


$font-family-base: Tahoma, Arial, 'Helvetica Neue', sans;


$size-font-small: 0.75; // the small size of the font


$size-font-medium: 1; // the medium size of the font


$size-font-large: 2; // the large size of the font


$size-font-base: 1; // the base size of the font

