

/**
 * @tokens Color
 * @presenter Color
 */
$color-base-black: #000000;


/**
 * @tokens Color
 * @presenter Color
 */
$color-base-gray-light: #CCCCCC;


$color-base-gray-medium: #999999;


$color-base-gray-dark: #111111;


$color-base-red: #FF0000;


$color-base-green: #00FF00;


$color-primary: #CCCCCC;


$color-secondary: #111111;


$color-action-primary: #CCCCCC;


$color-action-secondary: #111111;


$color-action-tertiary: #999999;


$color-font-base: #000000;


$color-font-primary: #CCCCCC;


$color-font-secondary: #111111;


$color-font-tertiary: #CCCCCC;


$button-border-radius: 4px;


$button-text-size: 1;


$font-platform-system: Tahoma, Arial, 'Helvetica Neue', sans;


/**
 * @tokens Typography
 * @presenter Typography
 */
$font-family-headers: Montserrat;


$font-family-base: Tahoma, Arial, 'Helvetica Neue', sans;


$size-font-small: 0.75; // the small size of the font


$size-font-medium: 1; // the medium size of the font


$size-font-large: 2; // the large size of the font


$size-font-base: 1; // the base size of the font
