---
title: Colors
description: Generated colors
---

<% _.each(allProperties, function(prop) { %>

 {{< swatch color="background-<%= prop.name %>" value="<%= prop.value %>" comment="<%= (prop.comment) ? prop.comment : ''%>" >}}

<% }); %>

