
$number-columns: 5;

@mixin create-flex-classes($colName, $breakpoint: 0) {
  @include resp($min: $breakpoint) {
    @for $i from 1 through $number-columns {
      .#{$colName}-#{$i} {
        flex: 0 0 $i * 100% / $number-columns;
        max-width: $i * 100% / $number-columns;
      }
    }
  }
}

.col-fill {
  flex: 1 1 0;
  width: auto;
}


.align-top {
  align-self: flex-start;
}

.align-middle {
  align-self: center;
}

.align-bottom {
  align-self: flex-end;
}
